@import url(reset.css);

.fs_0 {
    font-size: 0;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.wrapper div {
    outline: 1px solid #000;
}
.first_container_parent {
    font-size: 0;
    background: #F6FFD4;
    
}
.child{
    width: 400px;
    height: 400px;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
}

.second_container_parent {
    background: #DAFBF7;
}

.padding20 {
    padding: 20px;
}

.second_1 {
    float: left;
    width: 800px;
    font-size: 20px;
}

.second_1 div {
    height: 200px;
    padding: 20px;
}

.second_2{
    float: left;
    width: 400px;
    font-size: 20px;
}

.second_2 div {
    height: 133.333px;
    padding: 20px;
}

.third_container_parent {
    font-size: 0;
    background: #F9E6F9;

}

.container3_1 {
    width: 400px;
    height: 400px;
    float: left;
    font-size: 20px;
    padding: 20px;
}

.container3_2 {
    width: 800px;
    height: 200px;
    float: left;
    font-size: 20px;
    padding: 20px;
}

.container3_3 {
    width: 400px;
    height: 200px;
    float: left;
    font-size: 20px;
    padding: 20px;
}

.container3_4 {
    width: 400px;
    height: 100px;
    float: left;
    font-size: 20px;
    padding: 20px;
}

.container3_5 {
    width: 400px;
    height: 100px;
    float: left;
    font-size: 20px;
    padding: 20px;
}